<div class="auth-page">
	<div class="container page">
		<div class="row">

			<div class="col-md-6 offset-md-3 col-xs-12">
				<h1 class="text-xs-center">Sign in</h1>
				<p class="text-xs-center">
					<a [routerLink]="['/register']">Need an account?</a>
				</p>

				<app-list-errors></app-list-errors>

				<app-dynamic-form (updateForm)="updateForm($event)" [data$]="data$" [structure$]="structure$">
				</app-dynamic-form>
				<button (click)="submit()" class="btn btn-lg btn-primary pull-xs-right" type="submit">
					Sign in
				</button>
				<div class="form-group">
					<div class="col-md-6 col-md-offset-4">
						<a href="http://127.0.0.1:8000/api/users/login/google" class="btn btn-github"><i class="fa fa-google"></i> Google</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>