<div class="home-page">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
	  		<h1 class="display-4">PlusOne</h1>
	  		<p class="lead">Help or be helped.</p>
		</div>
  	</div>
	<div class="container page">
		<div class="row">

			<div class="col-md-9">
				<div class="feed-toggle">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a [ngClass]="{'active': (listConfig$|async)?.type === 'ALL' && !(listConfig$|async).filters?.tag}" class="nav-link" (click)="setListTo('ALL')">Global Feed</a>
						</li>
						<li class="nav-item" [hidden]="!(listConfig$|async).filters?.tag">
							<a class="nav-link active">
								<i class="ion-pound"></i> {{ (listConfig$|async).filters?.tag }}
							</a>
						</li>
					</ul>
				</div>

			</div>

			<div class="col-md-3">
				<div class="sidebar">
					<app-tags-list (setListTag)="setListTag($event)" [tags]="(tags$ | async)"></app-tags-list>
				</div>
			</div>

		</div>
	</div>
	<app-incidence-list></app-incidence-list>
</div>