<div class="contact-page">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Contact Us</h1>
      </div>
    </div>
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <form [formGroup]="contactForm">
                    <fieldset [disabled]="isSubmitting">
          
                      <fieldset class="form-group">
                        <input class="form-control form-control-lg"
                          formControlName="title"
                          type="text"
                          placeholder="Subject" />
                      </fieldset>
          
                      <fieldset class="form-group">
                        <input class="form-control"
                          formControlName="mail"
                          type="text"
                          placeholder="Your Mail" />
                      </fieldset>
          
                      <fieldset class="form-group">
                        <textarea class="form-control"
                          formControlName="body"
                          rows="8"
                          placeholder="Express your subject clearly. Much appreciated!">
                        </textarea>
                      </fieldset>
          
                      <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
                        Send Mail
                      </button>
          
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>