<nav class="navbar navbar-expand-lg navbar-light">
	<div class="d-flex flex-grow-1">
		<span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
		<a class="navbar-brand d-none d-lg-inline-block brand-name" routerLink="/">PlusOne</a>
	</div>
	<div class="collapse navbar-collapse flex-grow-1 text-right">
		<!-- Logged out user -->
		<ul *ngIf="!isLoggedIn" class="nav navbar-nav ml-auto flex-nowrap">
			<li class="nav-item">
				<!-- Add "active" class when you're on that page" -->
				<a class="nav-link" routerLink="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/register" routerLinkActive="active">Sign up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
			</li>
		</ul>

		<!-- Logged in user -->
		<ul *ngIf="isLoggedIn" class="nav navbar-nav ml-auto flex-nowrap">
			<li class="nav-item">
				<!-- Add "active" class when you're on that page" -->
				<a class="nav-link active" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/settings" routerLinkActive="active">
					<i class="ion-gear-a"></i>&nbsp;Settings
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/profile', user.username]" routerLinkActive="active">
					<img [src]="user.image" *ngIf="user.image" class="user-pic" /> {{ user.username }}
				</a>
			</li>
		</ul>
	</div>
</nav>