<img class="card-img-top" src="{{ incidence.image }}" alt="Incidence front image">
<div class="card-body">
	<h5 class="card-title">{{ (incidence.title.length>40)? (incidence.title | slice:0:34)+'...':(incidence.title) }}</h5>
</div>
<div class="card-body">
	<p class="card-text">{{ (incidence.description.length>46)? (incidence.description | slice:0:40)+'...':(incidence.description) }}</p>
</div>
<div class="card-body">
    <a (click)=navigateToIncidence.emit(incidence.slug) class="btn btn-primary card-link" style="color:white;">Read More...</a>
</div>
<div class="card-footer bg-white">
    <small class="text-muted">{{ incidence.createdAt | date: 'longDate' }}</small>
</div>