<div class="profile-page">

	<div class="user-info">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-md-10 offset-md-1">
					<img *ngIf="(profile$ | async)?.image == 'null'; else elseBlock" [src]="(profile$ | async)?.image" class="user-img" />
					<ng-template #elseBlock>
						<img src="http://robohash.org/random?set=set2&bgset=bg2&size=256x256" class="user-img" />
					</ng-template>
					
					<h4 [hidden]="(profile$ | async).loading">{{ (profile$ | async)?.username }}</h4>
					<p>{{ (profile$ | async)?.bio }}</p>
					<a [routerLink]="['/settings']" [hidden]="!(isUser$ | async)" class="btn btn-sm btn-outline-secondary action-btn">
						<i class="ion-gear-a"></i> Edit Profile Settings
					</a>
				</div>

			</div>
		</div>
	</div>
</div>