<div class="incidence-page">
	<div class="banner">
		<div class="container">
		<h1>{{ (incidence$|async).title }}</h1>  
		</div>
	</div>
	
	<div class="container page">
		<div class="container page">
			<div class="row incidence-content">
				<div class="col-md-12">
					<div [innerHTML]="(incidence$ | async)?.body | markdown"></div>
				</div>
			</div>
		</div>	
	</div>
</div>