/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
  height: 100%;
}
body { 
  font-family: Roboto,Helvetica Neue,sans-serif;
  word-wrap: break-word;
  box-sizing: inherit;
  height: 100%;
  margin: 0;
}
.wrapper{
  background: linear-gradient(45deg,rgb(218, 18, 18) 0,#007bff) fixed;
  min-height: 100%;
  padding: 1% 1% 1% 1%;
}

.content{
  min-height: 95%;
  min-width: 95%;
  padding: 0 6% 8% 6%;
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px -4px #555;
  box-shadow: 0 0 20px -4px #555;
}

.nav{
  margin-top: 2%;
}
.basic-container {
  padding: 30px;
}

.sticky{
  position: absolute;
  bottom: 0;
  height:100px;
}

.brand-name{
  background: -webkit-linear-gradient(45deg, rgb(218, 18, 18) 0,#007bff), fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.jumbotron{
  background: -webkit-linear-gradient(45deg, rgb(218, 18, 18) 0,#007bff), fixed;
  color: #fff;
  border-radius: 15px;
}

.card{
  border: none;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user-pic {
  position: relative;
  top: -20px;
  float: left;
  left: -8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

a {
    cursor: pointer;
  }