<div class="wrapper">
    <div class="content">
        <app-navbar [isLoggedIn]="isLoggedIn$ | async" [user]="user$ | async"></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>