<div  class="container d-flex">
	<div class="d-flex justify-content-center mb-auto p-2">
		<div class="app-incidence-preview" [hidden]="!(isLoading$ | async)">
			Loading articles...
		</div>

		<div class="app-incidence-preview" [hidden]="(isLoading$ | async) || (incidences$ | async).length > 0">
			No articles are here... yet.
		</div>
	
		<div class="card-deck">
			<app-incidence-list-item [hidden]="isLoading$ | async" 
			(navigateToIncidence)="navigateToIncidence($event)" 
			*ngFor="let incidence of incidences$ | async" 
			[incidence]="incidence"  class="card col-md-4">
			</app-incidence-list-item>
		</div>
	</div>
</div>
<div  class="container d-flex justify-content-center">
	<app-pager (setPage)="setPage($event)" 
	[hidden]="(totalPages$|async)?.length <= 1 || (isLoading$ | async)" 
	[currentPage]="(listConfig$ | async).currentPage"
	[totalPages]="totalPages$|async">
	</app-pager>
</div>